.body{
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
}
.calculator{
    width: 300px;
    height: 450px;
    border: 8px solid black;
    border-radius: 15px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 10px;
}
.btn{
  border: none;
  background: #202020;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
}
#clear{
    grid-column: 1/3;
    grid-row: 1;
    background-color: orange;
    color: black;
}
#equal{
    grid-column: 3/5;
    grid-row: 5;
    background-color: orange;
    color: black;
}
#backspace{
    background-color: orange;
    color: black;
}
.dislay{
    padding: 40px;
    justify-content: space-around;
}
.input{
    border: 1px solid #202020;
    border-radius: 10px;
    color: black;
    margin: 10px;
    height: 80px;
    text-align: right;
    font-size: 28px;
    font-weight: 300;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-right: 10px;  
}
.selectMode{
    font-size: 16px;
    margin: 10px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    padding: 10px;
}


